
body{
  background: #E0E0E0;
  font-family: 'Open Sans', sans-serif;
}


#navbar{
  position: absolute;
  top:0;
  left:0;
  right:0;
  padding: 10px 0;
  background:#66FF8C;
  height: 45px;
}

#maincontent,
#footer p,
#navbar h1 {
  /*default value of position*/

  width: 900px;
  margin: 0 auto;
}

#maincontent{
  position: relative;
  top: 79px;
}



#footer{

  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  height:  45px;
  padding: 10px 0;
  background: #66FF8C;
  text-align: left;
  font-size: 14px;
}

hr{
  font-size: 4px;

}
td{
  padding: 10px;
}

td span.state{

  margin-left: 130px;
  text-align: left;
  font-size: 12px;
}
td span.employer{
  font-size: 12px;
}
td a{
  text-decoration: none;
}
td a.job_title{
  font-weight: bold;
 }
